@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
	--white: #bff346;
	--black: #000;
	--red: #e80202;
	--github-fill: var(--white);
	--github-color: var(--red);
	--github-focus: var(--black);
	--roboto: "Roboto", sans-serif;
	--heart-shadow: 20px 20px 40px rgba(0, 0, 0, 0.2);
	--before-shadow: 0 -20px 20px rgba(0, 0, 0, 0.1);
	--after-shadow: -20px 0px 20px rgba(0, 0, 0, 0.1);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: var(--roboto);
}

a {
	text-decoration: none;
}

.container {
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

h1 {
	z-index: 10;
}

h2 {
	text-align: center;
	font-size: 8.1vw;
	line-height: 0.7em;
	z-index: 1000;
	font-weight: 900;
	animation: love 2s 4s linear infinite;
}


h1,
h2 {
	color: var(--white);
}


h2 span {
	font-size: 0.54em;
	letter-spacing: 0.15em;
	font-weight: 400;
	margin-left: 6px;
	text-transform: uppercase;
	text-align: left;
}

.heart {
	width: 40px;
	height: 40px;
	transform: rotate(45deg);
	box-shadow: var(--heart-shadow);
}

.heart:before {
	content: "";
	top: -50%;
	left: 0;
	box-shadow: var(--before-shadow);
}

.heart:after {
	content: "";
	top: 0;
	left: -50%;
	box-shadow: var(--after-shadow);
}

.heart,
.heart:before,
.heart:after,
.container {
	position: absolute;
	background: var(--red);
}

.heart:before,
.heart:after {
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

#mylove {
	text-decoration: none;
	color: white;

}

@keyframes love {
	0% {
		font-size: 200px;
		color: #e80202;
	}

	20% {
		font-size: 150px;
		color: greenyellow;
	}

	30% {
		font-size: 100px;
		color: pink;
	}

	40% {
		font-size: 150px;
		color: #e80202;
	}

	50% {
		font-size: 200px;
		color: greenyellow;
	}

	60% {
		font-size: 250px;
		color: pink;
	}

	70% {
		font-size: 200px;
		color: #e80202;
	}

	80% {
		font-size: 150px;
		color: greenyellow;
	}

	90% {
		font-size: 100px;
		color: pink;
	}

	100% {
		font-size: 150px;
		color: #e80202;
	}
}


.github-corner {
	z-index: 2000;
}

.github-corner:focus svg path {
	fill: var(--github-focus);
}

.github-corner:focus .octo-arm,
.github-corner:focus .octo-body {
	fill: var(--github-color);
}

.github-corner:hover .octo-arm,
.github-corner:focus .octo-arm {
	animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {

	0%,
	100% {
		transform: rotate(0);
	}

	20%,
	60% {
		transform: rotate(-25deg);
	}

	40%,
	80% {
		transform: rotate(10deg);
	}
}

@media (max-width: 500px) {
	.github-corner:hover .octo-arm {
		animation: none;
	}

	.github-corner .octo-arm {
		animation: octocat-wave 560ms ease-in-out;
	}
}